.main_wrk {
    background: #FFF7F3;
    border-radius: 200px 0 200px 0;
    padding-top: 276px;
    overflow: hidden;
    padding-bottom: 169px;
    @media all and (max-width: 640px) {
        padding-bottom: 87px;
        border-radius: 70px 0 70px 0;
        padding-top: 114px;
    }
    &__in {
        @media all and (max-width: 640px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__title {
        font-family: 'gmm', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        color: #26364B;
        margin-bottom: 60px;
        @media all and (max-width: 640px) {
            padding-left: 30px;
            padding-right: 30px;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 46px;
        }
    }
    &__block {
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 26px 10px 37px 18px;
        display: block;
        position: relative;
        text-decoration: none;
        transition: all .3s ease-out;
        top: 0;
        &:hover {
            top: -10px;
        }
        @media all and (max-width: 640px) {
            padding-bottom: 27px;
            padding-left: 14px;
        }
    }
    .slick-slide {
        margin: 15px 10px;
    }
    .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--l {
            width: 100%;
        }
        &--tit {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #FF5000;
            margin-bottom: 34px;
            @media all and (max-width: 640px) {
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
        &--name {
            margin-bottom: 13px;
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
            color: #26364B;
            @media all and (max-width: 640px) {
                font-size: 18px;
                margin-bottom: 8px;
                line-height: 23px;
            }
        }
        &--wrk {
            font-family: 'gml', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            color: #BABABA;
            margin-bottom: 33px;
            @media all and (max-width: 640px) {
                font-size: 12px;
                margin-bottom: 30px;
            }
        }
        &--r {
            flex: 0 0 145px;
            margin-left: 5px;
            img {
                border-radius: 50%;
                overflow: hidden;
            }
            @media all and (max-width: 640px) {
                flex: 0 0 98px;
            }
        }
        &--spec {
            span {
                display: block;
                margin-bottom: 25px;
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: #26364B;
                @media all and (max-width: 640px) {
                    margin-bottom: 15px;
                    font-size: 12px;
                }
            }
            p {
                display: block;
                margin: 0;
                font-family: 'gml', serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #26364B;
                @media all and (max-width: 640px) {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}