.main_wrk {
    padding-top: 276px;
    overflow: hidden;
    padding-bottom: 169px;
    @media all and (max-width: 640px) {
        padding-bottom: 87px;
        padding-top: 114px;
    }
    &__in {
        
    }
    &__title {
        font-family: 'gmm', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 60px;
        color: #26364B;
        margin-bottom: 60px;
        @media all and (max-width: 640px) {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 36px;
            margin-top: 30px;
        }
    }
    &__block {
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 26px 10px 37px 18px;
        display: block;
        position: relative;
        text-decoration: none;
        transition: all .3s ease-out;
        top: 0;
        &:hover {
            top: -10px;
        }
        @media all and (max-width: 640px) {
            padding-bottom: 27px;
            padding-left: 14px;
        }
    }
    .slick-slide {
        margin: 15px 10px;
    }
    .slick-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 100%;
        &--l {
            width: 100%;
        }
        &--tit {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #FF5000;
            margin-bottom: 34px;
            @media all and (max-width: 640px) {
                margin-bottom: 20px;
                font-size: 12px;
            }
        }
        &--name {
            margin-bottom: 13px;
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
            color: #26364B;
            @media all and (max-width: 640px) {
                font-size: 18px;
                margin-bottom: 8px;
                line-height: 23px;
            }
        }
        &--wrk {
            font-family: 'gml', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            color: #BABABA;
            margin-bottom: 33px;
            @media all and (max-width: 640px) {
                font-size: 12px;
                margin-bottom: 30px;
            }
        }
        &--r {
            flex: 0 0 145px;
            margin-left: 5px;
            img {
                border-radius: 50%;
                overflow: hidden;
            }
            @media all and (max-width: 640px) {
                flex: 0 0 98px;
            }
        }
        &--spec {
            span {
                display: block;
                margin-bottom: 25px;
                font-family: 'gm', serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                color: #26364B;
                @media all and (max-width: 640px) {
                    margin-bottom: 15px;
                    font-size: 12px;
                }
            }
            p {
                display: block;
                margin: 0;
                font-family: 'gml', serif;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 18px;
                color: #26364B;
                @media all and (max-width: 640px) {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
    @media all and (max-width: 810px) {
        position: relative;
        border-radius: 70px 0 70px 0;
        .slick-slider {
            position: unset;
        }
        .slick-prev {
            font-size: 0; 
            width: 72px;
            height: 72px;
            border-radius: 50%;
            z-index: 11;
            margin-top: -36px;
            border: 1px solid #66C9BA;
            background: url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1333 17.9595L2.50989 1.33611C1.95957 0.80462 1.08262 0.819879 0.551129 1.3702C0.0326223 1.90705 0.0326223 2.75811 0.551129 3.29488L16.1951 18.9389L0.551129 34.5829C0.0103008 35.1238 0.0103008 36.0007 0.551129 36.5416C1.09212 37.0825 1.96899 37.0825 2.50989 36.5416L19.1333 19.9183C19.6741 19.3773 19.6741 18.5004 19.1333 17.9595Z' fill='%2366C9BA'/%3E%3C/svg%3E%0A") 50% no-repeat;
            transition: all .3s ease-out;
            transform: rotate(180deg);
            left: 20px;
            bottom: 24px;
            margin-top: 0;
            top: unset;
            &:hover {
                background: #66C9BA url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1333 17.9595L2.50989 1.33611C1.95957 0.80462 1.08262 0.819879 0.551129 1.3702C0.0326223 1.90705 0.0326223 2.75811 0.551129 3.29488L16.1951 18.9389L0.551129 34.5829C0.0103008 35.1238 0.0103008 36.0007 0.551129 36.5416C1.09212 37.0825 1.96899 37.0825 2.50989 36.5416L19.1333 19.9183C19.6741 19.3773 19.6741 18.5004 19.1333 17.9595Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &:before {
                display: none;
            }
        }
        .slick-next {
            font-size: 0; 
            width: 72px;
            height: 72px;
            border-radius: 50%;
            z-index: 11;
            margin-top: -36px;
            border: 1px solid #66C9BA;
            background: url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1333 17.9595L2.50989 1.33611C1.95957 0.80462 1.08262 0.819879 0.551129 1.3702C0.0326223 1.90705 0.0326223 2.75811 0.551129 3.29488L16.1951 18.9389L0.551129 34.5829C0.0103008 35.1238 0.0103008 36.0007 0.551129 36.5416C1.09212 37.0825 1.96899 37.0825 2.50989 36.5416L19.1333 19.9183C19.6741 19.3773 19.6741 18.5004 19.1333 17.9595Z' fill='%2366C9BA'/%3E%3C/svg%3E%0A") 50% no-repeat;
            transition: all .3s ease-out;
            right: 20px;
            bottom: 24px;
            margin-top: 0;
            transform: unset;
            top: unset;
            &:hover {
                background: #66C9BA url("data:image/svg+xml,%3Csvg width='20' height='37' viewBox='0 0 20 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1333 17.9595L2.50989 1.33611C1.95957 0.80462 1.08262 0.819879 0.551129 1.3702C0.0326223 1.90705 0.0326223 2.75811 0.551129 3.29488L16.1951 18.9389L0.551129 34.5829C0.0103008 35.1238 0.0103008 36.0007 0.551129 36.5416C1.09212 37.0825 1.96899 37.0825 2.50989 36.5416L19.1333 19.9183C19.6741 19.3773 19.6741 18.5004 19.1333 17.9595Z' fill='%23ffffff'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &:before {
                display: none;
            }
        }
        
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 45px;
            left: 0;
            right: 0;
            pointer-events: none;
            li {
                pointer-events: all;
                margin-left: 5px;
                margin-right: 5px;
                width: 5px;
                button {
                    margin-left: 5px;
                    margin-right: 5px;
                    background: #DCF3EF;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    padding: 0;
                    &:before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background: #66C9BA;
                    }
                }
            }
        }
    }
}