// burg
.site-panel-wrap {
    display: none;
}
@media all and (max-width: 1023px) {
    .site-panel-wrap {
        display: block;
        z-index: 100;
        margin-left: auto;
        position: relative;
        
        & .burger-wrap {
            width: 25px;
            height: 25px;
            margin-left: auto;
        
        & .burger-btn {
            width: 25px;
            height: 25px;
            display: block;
            cursor: pointer;
            
            span {
            margin-bottom: 6px;
            display: block;
            height: 2px;
            background: #FF5000;
            width: 25px;
            border-radius: 3px;
            }
        }
        
        & .burger-close-btn {
            width: 19px;
            height: 19px;
            background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1803 9.5002L18.6519 2.02837C19.116 1.56455 19.116 0.811983 18.6519 0.348162C18.1877 -0.116054 17.4359 -0.116054 16.9717 0.348162L9.5002 7.81999L2.02829 0.348162C1.56409 -0.116054 0.812345 -0.116054 0.348148 0.348162C-0.116049 0.811983 -0.116049 1.56455 0.348148 2.02837L7.82006 9.5002L0.348148 16.972C-0.116049 17.4358 -0.116049 18.1884 0.348148 18.6522C0.580246 18.8839 0.88443 19 1.18822 19C1.49201 19 1.79619 18.8839 2.02829 18.6518L9.5002 11.18L16.9717 18.6518C17.2038 18.8839 17.508 19 17.8118 19C18.1156 19 18.4198 18.8839 18.6519 18.6518C19.116 18.188 19.116 17.4354 18.6519 16.9716L11.1803 9.5002Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
            cursor: pointer;
            margin-bottom: 9px;
        }
        
        &:before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            visibility: hidden;
            opacity: 0;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
        }
        
        &.opened {
            .burger-body {
                right: 0%;
            }
            
            &:before {
                visibility: visible;
                opacity: 1;
                background: rgba(0,0,0,0.5);
            }
        }
        
        & .burger-body {
            position: fixed;
            top: 0;
            right: -100%;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 320px;
            background: #66C9BA;
            height: 100vh;
            overflow-y: auto;
            padding-top: 17px;
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            ul {
                display: block !important;
                margin: 0;
                list-style: none;
                padding: 0;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                li {
                    a {
                        display: block;
                        margin-bottom: 15px;
                        font-family: 'gmm', serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        text-align: center;
                        color: #FFFFFF; 
                        padding-bottom: 3px;
                        border-width: 2px;
                        display: inline-block;
                        margin-top: 0;
                    }
                }
            }
        }
        }
    }
    .burg {
        &__top {
            padding-left: 16px;
            padding-right: 18px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-bottom: 18px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        &__logo {
            max-width: 88px;
            width: 100%;
        }
        &__tel {
            text-align: center;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-decoration: none;
            display: block;
            color: #FFFFFF;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            margin-bottom: 20px;
        }
        &__soc {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 20px;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
            a {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}
// burg end
.header {
    background: #FFF7F3 url('../img/head_bg.png') 0 0 / 100% no-repeat;
    border-radius: 0 0 112px 122px;
    @media all and (max-width: 830px) {
        border-radius: 0 0 70px 70px;
    }
    &__in {
        margin-bottom: -105px;
    }
    &__t {
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
        padding-top: 37px;
        @media all and (max-width: 830px) {
            align-items: flex-end;
            padding-top: 11px;
        }
        &--l {
            flex: 0 0 235px;
            margin-right: 108px;
            @media all and (max-width: 1160px) {
                margin-right: 20px;
            }
            @media all and (max-width: 830px) {
                flex: none;
                max-width: 145px;
                width: 100%;
            }
            @media all and (max-width: 480px) {
                max-width: 86px;
                width: 100%;
            }
        }
        &--logo {
            display: block;
            font-size: 0;
        }
        &--r {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &--tt {
            margin-bottom: 70px;
            @media all and (max-width: 830px) {
                margin-bottom: 0px;
            }
        }
        &--info {
            display: flex;
            align-items: center;
            margin-left: auto;
            @media all and (max-width: 830px) {
                flex-direction: column-reverse;
            }
        }
        &--soc {
            display: flex;
            align-items: center;
            a {
                display: block;
                margin-left: 32px;
                font-size: 0;
                @media all and (max-width: 1023px) {
                    margin-left: 20px;
                }
                @media all and (max-width: 830px) {
                    margin-left: 25px;
                    margin-bottom: 27px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        &--tel {
            margin-left: 74px;
            text-decoration: none;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 26px;
            color: #FF5000;
            @media all and (max-width: 1023px) {
                margin-left: 20px;
            }
            @media all and (max-width: 830px) {
                display: none;
            }
        }
        &--tb {
            width: 100%;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media all and (max-width: 1023px) {
                    display: none;
                }
                li {
                    a {
                        margin-top: 10px;
                        padding-bottom: 10px;
                        border-bottom: 5px solid transparent;
                        font-family: 'gm', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 30px;
                        text-decoration: none;
                        transition: all .3s ease-out;
                        color: #26364B;
                        &:hover {
                            border-color: #FF5000;
                        }
                    }
                }
            }
        }
    }
    &__b {
        padding-left: 50px;
        display: flex;
        align-items: center;
        @media all and (max-width: 1023px) {
            flex-direction: column-reverse;
            padding-left: 0;
            position: relative;
        }
        &--l {
            flex: 0 0 490px;
            font-size: 0;
            margin-right: 25px;
            @media all and (max-width: 1023px) {
                margin-right: 0;
                position: absolute;
                flex: none;
                width: 180px;
                z-index: 0;
                pointer-events: none;
                bottom: 83px;
            }
            @media all and (max-width: 620px) {
                width: 145px;
                bottom: 49px;
            }
        }
        &--r {
            width: 100%;
            position: relative;
            z-index: 1;
        }
        &--title {
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 60px;            
            color: #26364B;  
            margin-bottom: 40px;     
            @media all and (max-width: 1200px) {
                font-size: 38px;
                line-height: normal;
                margin-bottom: 25px;
            }     
            @media all and (max-width: 1023px) {
                margin-bottom: 125px;
            }
            @media all and (max-width: 620px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
        &--text {
            font-family: 'gml', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 30px;
            line-height: 38px;
            color: #3D3D3D;
            max-width: 618px;
            width: 100%;
            margin-bottom: 50px;
            @media all and (max-width: 1200px) {
                font-size: 25px;
                line-height: normal;
                margin-bottom: 25px;
            }
            @media all and (max-width: 620px) {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 22px;
            }
        }
        &--btn {
            text-decoration: none;
            background: #FF844B;
            border-radius: 10px;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 35px 10px;
            max-width: 428px;
            width: 100%;
            display: block;
            text-align: center;
            transition: all .3s ease-out;
            &:hover {
                box-shadow: 8px 8px 0px 0px #ff5000;
            }
            @media all and (max-width: 1200px) {
                padding: 30px 10px;
                font-size: 20px;
            }
            @media all and (max-width: 1023px) {
                margin-left: auto;
                margin-right: auto;
            }
            @media all and (max-width: 620px) {
                max-width: 100%;
                font-size: 13px;
                padding: 17.5px 10px;
                &:hover {
                    box-shadow: 4px 4px 0px 0px #ff5000;
                }
            }
        }
    }
}
.block_info {
    max-width: 1668px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #66C9BA;
    border-radius: 30px;
    padding-top: 45px;
    padding-bottom: 41px;
    position: relative;
    bottom: -105px;
    margin-bottom: 165px;
    @media all and (max-width: 1720px) {
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }
    @media all and (max-width: 1023px) {
        margin-top: 31px;
    }
    @media all and (max-width: 830px) {
        padding: 22px 14px;
    }
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 1023px) {
            flex-direction: column-reverse;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__link {
        max-width: 529px;
        width: 100%;
        margin-right: 24px;
        text-decoration: none;
        background: #fff;
        border-radius: 10px;
        font-family: 'gmm', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: #49A799;
        padding: 35px 10px;
        display: block;
        text-align: center;
        transition: all .3s ease-out;
        &:hover {
            box-shadow: 8px 8px 0px 0px #DCF3EF;
        }
        @media all and (max-width: 1200px) {
            max-width: 480px;
            font-size: 20px;
        }
        @media all and (max-width: 1023px) {
            margin-right: 0;
            margin-top: 34px;
            padding: 30px 10px;
            font-size: 20px;
        }
        @media all and (max-width: 620px) {
            max-width: 100%;
            font-size: 13px;
            padding: 17.5px 5px;
            &:hover {
                box-shadow: 4px 4px 0px 0px #DCF3EF;
            }
        }
    }
    &__text {
        &--title {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            color: #FFFFFF;
            margin-bottom: 13px;
            @media all and (max-width: 620px) {
                font-size: 18px;
                margin-bottom: 11px;
            }
        }
        &--text {
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            color: #FFFFFF;
            @media all and (max-width: 620px) {
                font-size: 12px;
                line-height: 15px;          
            }
        }
    }
}