.main_bl {
    padding-top: 130px;
    padding-bottom: 150px;
    background: url('../img/bg_b.png') 100% calc(100% - 50px) no-repeat;
    
    @media all and (max-width: 1023px) {
        background: none;
    }
    @media all and (max-width: 980px) {
        border-radius: 70px 0 70px 0;
    }
    @media all and (max-width: 640px) {
        padding-top: 50px;
        margin-bottom: -268px;
        padding-bottom: 226px;
    }
    &__block {
        display: flex;
        align-items: center;
        margin-bottom: 115px;
        @media all and (max-width: 980px) {
            flex-direction: column;
            margin-bottom: 78px;
        }
        &--l {
            width: 50%;
            @media all and (max-width: 980px) {
                width: 100%;
                margin-bottom: 23px;
            }
        }
        &--title {
            margin-bottom: 19px;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 120%;
            color: #26364B;
            @media all and (max-width: 980px) {
                br {
                    display: none;
                }
            }
            @media all and (max-width: 640px) {
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 27px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &--text {
            font-family: 'gml', serif;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            color: #3D3D3D;
            max-width: 530px;
            width: 100%;
            @media all and (max-width: 980px) {
                max-width: 100%;
            }
            @media all and (max-width: 640px) {
                font-size: 14px;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 18px;
            }
        }
        &--r {
            width: 50%;
            text-align: right;
            img {
                margin-left: auto;
                max-width: 624px;
                width: 100%;
            }
            iframe {
                width: 100% !important;
            }
            @media all and (max-width: 980px) {
                width: 100%;
                text-align: center;
                iframe {
                    height: 344px !important;
                }
            }
            @media all and (max-width: 640px) {
                iframe {
                    height: 224px !important;
                }
            }
        }
        &.block_phone {
            margin-top: 188px;
        }
    }
    &__phone {
        max-width: 370px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        padding-top: 90px;
        padding-bottom: 15px;
        .phone-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 335px;
            width: 100%;
            pointer-events: none;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__chat {
        padding: 0px 65px;
        padding-right: 54px;
        height: 406px;
        overflow: auto;
        margin-top: 15px;
        &::-webkit-scrollbar
        {
            width: 10px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        &::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) ;
            border-radius: 10px;
            background-color: #fff ;
            border-left: 10px solid white;
            border-right: 10px solid white;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 20px;
            -webkit-box-shadow: inset 0 0 px #FF5000 ;
            background-color: #FF5000   ;

        }
        &--text {
            padding: 11px 16px;
            padding-left: 24px;
            background: #F4F4F4;
            border-radius: 20px 20px 20px 0px;
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
            margin-bottom: 7px;
            text-align: left;
        }
        &--bl {
            width: 100%;
            max-width: 234px;
            margin-left: auto;
            margin-right: auto;
        }
        &--img {
            margin-bottom: 7px;
            width: 31px;
            height: 31px;
            border-radius: 50%;
            overflow: hidden;
        }
        &--call {

        }   
        &--user {
            .main_bl__chat--text {
                background: #C2FFF6;
                border-radius: 20px 20px 20px 0px;
            }
            .main_bl__chat--img {
                margin-left: auto;
            }
        }
    }
}

.main_bl__chat--bl {
    transition: all .3s ease-out;
}
