.main_form {
    max-width: 1668px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -117px;
    position: relative;
    z-index: 10;
    &__in {
        @media all and (max-width: 960px) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media all and (max-width: 1700px) {
        max-width: calc(100% - 30px);
    }
    @media all and (max-width: 640px) {
        margin-bottom: -95px;
    }
    &__title {
        text-align: center;
        font-family: 'gmm', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        color: #26364B;
        margin-bottom: 38px;
        br {
            display: none;
        }
        @media all and (max-width: 640px) {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 24px;
        }
        @media all and (max-width: 480px) {
            br {
                display: block;
            }
        }
    }
    &__fr {
        background: url(../img/bg4.png) 0 50% no-repeat, #66C9BA url(../img/bg3.png) 0 no-repeat;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100px;
        padding: 103px 10px 83px 10px;
        @media all and (max-width: 960px) {
            padding-top: 90px;
            padding-bottom: 60px;
        }
        @media all and (max-width: 640px) {
            padding-bottom: 52px;
            padding-left: 14px;
            padding-right: 14px;
            border-radius: 30px;
            box-shadow: none;
        }
    }
    &__scroll {
        position: relative;
        &--numb {
            position: absolute;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.7);
            top: -40px;
            @media all and (max-width: 960px) {
                margin-left: -7px;
            }
        }
        &--bar {
            background: #FFFFFF;
            border-radius: 5px;
            height: 11px;
            span {
                border-radius: 5px;
                display: block;
                height: 100%;
                background: #FF5000;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
            }
        }
    }
    &__ques {
        margin-top: 60px;   
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1075px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @media all and (max-width: 960px) {
            flex-direction: column;
            margin-top: 34px;
            margin-bottom: 0;
        }
        &--l {
            width: 50%;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 50px;
            text-transform: capitalize;
            color: #FFFFFF;
            @media all and (max-width: 960px) {
                font-size: 24px;
                text-align: center;
                padding-top: 0;
                width: 100%;
                margin-bottom: 50px;
                line-height: normal;
            }
        }
        &--r {
            width: 50%;
            text-align: right;
            @media all and (max-width: 960px) {
                width: 100%;
            }
        }
        &--button {
            margin-left: auto;
            margin-bottom: 20px;
            max-width: 420px;
            width: 100%;
            background: #FFFFFF;
            border: 1px solid transparent;  
            transition: all .3s ease-out;
            padding: 18px 17px;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            text-transform: lowercase;
            text-align: left;
            cursor: pointer;
            color: #66C9BA;
            position: relative; 
            padding-right: 70px;
            &:before {
                position: absolute;
                transition: all .3s ease-out;
                content: '';
                width: 47px;
                height: 47px;
                border-radius: 50%;
                right: 17px;
                border: 1px solid #FF5000;
            }
            &:hover {
                border-color: #7DA9A2;  
                &:before {
                    background: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.5 0C10.5416 0 0 10.5416 0 23.5C0 36.4584 10.5416 47 23.5 47C36.4584 47 47 36.4584 47 23.5C47 10.5416 36.4584 0 23.5 0ZM35.4106 18.52L22.6814 31.2489C22.2995 31.6308 21.7982 31.823 21.2969 31.823C20.7956 31.823 20.2943 31.6308 19.9124 31.2489L13.5479 24.8845C12.782 24.1189 12.782 22.8811 13.5479 22.1155C14.3135 21.3496 15.551 21.3496 16.3169 22.1155L21.2969 27.0955L32.6417 15.7511C33.4072 14.9851 34.6447 14.9851 35.4106 15.7511C36.1762 16.5166 36.1762 17.7541 35.4106 18.52Z' fill='%23FF5000'/%3E%3C/svg%3E%0A") 50% / 100% no-repeat;
                }
            }   
            @media all and (max-width: 960px) {
                max-width: 100%;
                margin-bottom: 48px;
                font-size: 18px;
                padding-top: 19px;
                padding-bottom: 19px;
                &:before {
                    width: 33px;
                    top: 50%;
                    margin-top: -16px;
                    height: 33px;
                    right: 13px;
                }
            }
        }
    }
    &__next {
        margin-left: auto;
        background: #FF844B;
        border-radius: 10px;
        max-width: 182px;
        width: 100%;
        padding: 35.5px 10px;
        text-align: center;
        font-family: 'gmm', serif;
        font-style: normal;
        font-weight: 500;
        transition: all .3s ease-out;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        &:hover {
            background: #FF5000;
        }
        @media all and (max-width: 960px) {
            margin-right: auto;
            margin-left: auto;
            max-width: 135px;
            font-size: 13px;
            padding: 16px 10px;
        }
    }
}