.footer {
    background: #66C9BA url('../img/fot_bg.png') 0 0 / cover no-repeat;
    border-radius: 122px 112px 0 0;
    padding-top: 43px;
    padding-bottom: 18px;
    @media all and (max-width: 830px) {
        padding-top: 16px;
        border-radius: 70px 70px 0 0;
        background: #66C9BA;
    }
    &__t {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px;
        @media all and (max-width: 1035px) {
            flex-direction: column;
            align-items: center;
        }
        @media all and (max-width: 830px) {
            margin-bottom: 40px;
        }
        &--logo {
            flex: 0 0 200px;
            font-size: 0;
            margin-right: 140px;
            @media all and (max-width: 1400px) {
                margin-right: 40px;
            }
            @media all and (max-width: 830px) {
                margin: 0;
                flex: none;
                margin-bottom: 30px;
                max-width: 118px;
                width: 100%;
            }
        }
        &--menu {
            width: 100%;
            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                list-style: none;
                @media all and (max-width: 830px) {
                    flex-direction: column;
                }
                li {
                    a {
                        font-family: 'gm', serif;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        color: #FFFFFF;
                        margin-left: 20px;
                        text-decoration: none;
                        display: block;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        &:hover {
                            text-decoration: underline;
                        }
                        @media all and (max-width: 830px) {
                            margin: 0;
                            font-size: 18px;
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }
    }
    &__b {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width: 830px) {
            flex-direction: column-reverse;
            text-align: center;
        }
        &--copy {
            max-width: 206px;
            width: 100%;
            margin-right: 10px;
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #FFFFFF;
            @media all and (max-width: 830px) {
                font-size: 12px;
                line-height: 15px;
                margin-bottom: 6px;
            }
        }
        &--politic {
            margin-right: auto;
            margin-left: 9%;
            font-family: 'gm', serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            text-decoration: none;
            border-bottom: 1px solid #fff;
            color: #FFFFFF;
            transition: all .3s ease-out;
            &:hover {
                border-color: transparent;
            }
            @media all and (max-width: 1023px) {
                margin-left: auto;
            }
            @media all and (max-width: 830px) {
                font-size: 14px;
                margin-bottom: 37px;
            }
        }
        &--info {
            display: flex;
            align-items: center;
            @media all and (max-width: 830px) {
                flex-direction: column-reverse;
            }
        }
        &--soc {
            display: flex;
            align-items: center;
            a {
                display: block;
                margin-left: 32px;
                font-size: 0;
                @media all and (max-width: 1023px) {
                    margin-left: 20px;
                }
                @media all and (max-width: 830px) {
                    margin-left: 15px;
                    margin-right: 15px;
                    margin-bottom: 30px;
                }
            }
        }
        &--tel {
            margin-left: 74px;
            text-decoration: none;
            font-family: 'gmm', serif;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            @media all and (max-width: 1023px) {
                margin-left: 20px;
            }
            @media all and (max-width: 830px) {
                margin: 0;
                margin-bottom: 32px;
            }
        }
    }
}